body{
    background-color:rgba(14, 11, 2, 1);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* margin-top: 50px; */
    margin: 2rem 4rem;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1.5px;
    color: white;
}
.header h1{
    margin: 0;
    width: 219px;
    height: 29px;
    font-family: Space Mono;
    font-size: 42px;
    font-weight: 400;
    line-height: 42px; 
    letter-spacing: -0.04em;
    text-align: left;
}
.nav{
    display: flex;
    gap: 26px;
}

.nav a{
    font-family: Space Mono;
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.02em;
    text-align: left;
    color: white;
}
.container{
    width: 1372px;
    height: 4451px;
    padding-top: 34px;
    padding-bottom: 34px;
}


.main-content{
    /* width: 1372px;
    height: 4383px; */
    
}
.landing-page{
    /* width: 1372px;
    height: 1094px;
    border-bottom: 1.5px;
    padding-top: 74px;
    padding-bottom: 74px;
    gap: 34px; */
    position: relative;
    text-align: center;
    color: white;
}
.mainImage{
    margin-right: 20px;
}
.landing-page h3{
    color: white;
    font-family: Space Mono;
    font-size: 120px;
    font-weight: 700;
    line-height: 120px;
    letter-spacing: -0.02em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-bottom: 20px;
    margin-top: -10px; 
}
.personal {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    margin-top: 20px;
    width: 1352px;
    height: 772px;

  }
  
  .column {
    display: flex;
    flex-direction: column;
    gap: 10px; 
  }
  
  .column img {
    width: 416px;
    /* max-width: 325px; */
    height: auto; 
    object-fit: cover;

  }
  .children{
    flex: flex;
    color: white;
  }
  .text{
    width: 416px;
    height: 48px;
  }
  .text p{
    margin-top: -4px;
    /* background-color: red; */
    font-size: 20px;
    margin-bottom: -2px;
}
.para{
    color: gray;
    font-family: 'Space Mono';
}
.first{
    width: 416px;
    height: 379px;
    border: 1.5px solid rgba(173, 135, 10, 1);
    background-color: red;
}
#second{
    width: 416px;
    height: 236px;
    gap: 0px;
    border: 1.5px 0px 0px 0px;
    opacity: 0px;
}
#third{
    width: 416px;
    height: 418px;
    gap: 6px;
}
#fourth{
    width: 416px;
    height: 418px;
    gap: 0px;
    border: 1.5px 0px 0px 0px;
    opacity: 0px;
    
}
#fifth{
    width:416px;
    height:325px;
    gap: 6px;
    opacity: 0px;

}
#sixth{
    width:416px;
    height:236px;
    gap: 6px;
    opacity: 0px;
}
#seventh{
    width: 416px;
    height: 236px;
    gap: 0px;
    border: 1.5px 0px 0px 0px;
    opacity: 0px;
}
#eight{
    width: 416px;
    height: 418px;
    gap: 0px;
    border: 1.5px 0px 0px 0px;
    opacity: 0px;
}
#ninth{
    width:416px;
    height:325px;
}
.article{
    color: white;
}
.article{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 400px;
}
.article1{
    width: 900px;
    height: 260px;
    font-family: Space Mono;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.02em;
    text-align: center;
}
.services{
    gap: 34px;
    padding: 34px 0 34px 0;
    display: flex;
    /* align-items:; */
    justify-content: space-between;
    margin:-100px 20px ;
    color: white;
}
.serv{
    color: white;
    font-weight: 700;
    size: 28px;
    line-height: 32px;
}
.count{
    gap: 12px;
}
.conttt{
    color: white;
    display: flex;
    flex-direction: row;
    gap: 120px;
}
p{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}
.landing-page{
    width: 1372px;
    height: 340px;
    color: white;
    margin: 80px;
}
.client{
    width: 1260px;
    height: 52px;
    font-weight: 700;
    text-align: center;
    font-size: 48px;
}
.testimonial{
    width: 1372px;
    height: 186px;
    margin-top: -350px;
    display: flex;
    justify-content: space-between;
}
.testimonial-card {
    display: flex;
    align-items: center;
    background-color: rgba(200, 183, 126, 0);
    padding: 20px;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 288px;
    height: 162px;
  }
  .testimonial-card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
  }
  .testimonial-content {
    color: #333333;
    line-height: 1.4;
  }
  .name {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    color: white;
  }
  .position {
    font-size: 12px;
    margin-bottom: 10px;
    color:rgba(235, 229, 209, 0.62);
  }
  .quote {
    font-size: 20px;
    font-weight: bold;
    color:rgba(235, 229, 209, 0.62);
  }
  .landingpage{
    text-align: center;
    width: 1372px;
    height: 380px;
    margin-top: 100px;
    background: radial-gradient(63.68% 40.76% at 50% 103.08%, rgba(249, 225, 149, 0.16) 0%, rgba(13, 11, 2, 0) 100%);

  }
  .content {
    width: 900px;
    margin: 70px 190px;
}
  
  .ready{
    font-size: 3rem;
    margin: 0;
    font-weight: bold;
    color: white;
  }
  
  .contact{
    font-size: 1.2rem;
    margin: 20px 0;
    color: white;
  }